---

_This notebook is based on materials from Coursera course [Introduction to data science with python](https://www.coursera.org/learn/python-data-analysis/)._

---

# Lab 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [22]:
    import pandas as pd
    import numpy as np
 
    def get_energy():
        

        energy_df = pd.read_excel('Energy Indicators.xls', skiprows=16)
        del energy_df['Unnamed: 0']
        del energy_df['Unnamed: 1']
    
        energy_df.dropna(inplace=True)
    
        energy_df.rename(columns={"Unnamed: 2":"Country", "Renewable Electricity Production": "% Renewable", "Energy Supply per capita": "Energy Supply per Capita"}, inplace=True)
  
        energy_df.replace('...', np.NaN, inplace=True)

        energy_df['Energy Supply'] = energy_df['Energy Supply'] * 1000000

        energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
        energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

        x = {
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
        }

        for item in x:
            energy_df['Country'].replace(item, x[item], inplace=True)
        
        return energy_df


    def get_gdp():
    
        gdp_df = pd.read_csv('world_bank.csv', skiprows=4)

        y = {
        "Korea, Rep.": "South Korea", 
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"
        }

        for item in y:
            gdp_df['Country Name'].replace(item, y[item], inplace=True)
    
        gdp_df.rename(columns={'Country Name': 'Country'}, inplace=True)
        
        return gdp_df


    def get_rank():

        ScimEn = pd.read_excel('scimagojr country rank 1996-2020.xlsx')
        return ScimEn


    def answer_one():
        energy_df = get_energy()
        gdp_df = get_gdp()
        ScimEn = get_rank()
    
        for i in range(1960, 2006):
            gdp_df.drop([str(i)], axis=1, inplace=True)

        ScimEn = ScimEn[0:15]

        temp1 = pd.merge(energy_df, gdp_df, how="inner", left_on="Country", right_on="Country")
        temp2 = pd.merge(temp1, ScimEn, how="inner")

 
        temp2.set_index('Country', inplace=True)
 
        list_to_be_drop = ['Country Code', 'Indicator Name', 'Indicator Code']
        for item in list_to_be_drop:
            temp2.drop(item, axis=1, inplace=True)
      
        return temp2    

answer_one()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,...,2014,2015,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,,
Australia,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,...,1.272520e+12,1.301251e+12,15,Pacific Region,20614,20147,314307,51583,15.25,176
Brazil,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,...,2.412231e+12,2.319423e+12,14,Latin America,21524,21236,183915,45172,8.54,127
Canada,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,...,1.773486e+12,1.792609e+12,8,Northern America,33472,32863,568080,100953,16.97,227
China,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,...,8.230121e+12,8.797999e+12,1,Asiatic Region,273437,272374,2336764,1615239,8.55,245
France,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,...,2.729632e+12,2.761185e+12,11,Western Europe,25232,24732,343860,65734,13.63,178
Germany,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,...,3.624386e+12,3.685556e+12,6,Western Europe,38739,38013,433148,95145,11.18,196
India,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,...,2.200617e+12,2.367206e+12,3,Asiatic Region,55082,53775,463165,162944,8.41,181
Iran,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,...,4.639027e+11,NaN,12,Middle East,22933,22734,307280,97038,13.40,141
Italy,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,...,2.033868e+12,2.049316e+12,9,Western Europe,27983,26940,352993,87828,12.61,166
Japan,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,...,5.642884e+12,5.669563e+12,4,Asiatic Region,50523,50065,488062,119930,9.66,193
South Korea,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,...,1.234340e+12,1.266580e+12,10,Asiatic Region,27655,27445,328488,61531,11.88,155
Russian Federation,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,...,1.678709e+12,1.616149e+12,7,Eastern Europe,36735,36560,115938,54993,3.16,90
Spain,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,...,1.375605e+12,1.419821e+12,13,Western Europe,21955,21597,352497,64588,16.06,176
United Kingdom,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,...,2.605643e+12,2.666333e+12,5,Western Europe,43389,42284,615670,111290,14.19,226
United States,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,...,1.615662e+13,1.654857e+13,2,Northern America,175891,172431,2230544,724472,12.68,363

### Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [6]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [24]:
def answer_two():
    energy_df = get_energy()
    gdp_df = get_gdp()
    rank_df = get_rank()
    
    energy_len = len(energy_df)
    gdp_len = len(gdp_df)
    rank_len = len(rank_df)
    
    tempAB = pd.merge(energy_df, gdp_df, how="inner")
    merge_AB_len = len(tempAB)

    tempAC = pd.merge(energy_df, rank_df, how="inner")
    merge_AC_len = len(tempAC)
    
    tempBC = pd.merge(rank_df, gdp_df, how="inner")
    merge_BC_len = len(tempBC)
    
    result = energy_len + gdp_len + rank_len - merge_AB_len - merge_AC_len - merge_BC_len
    return result

answer_two()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

154

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [25]:
def answer_three():
    Top15 = answer_one()
    gdp_list = Top15[[str(i) for i in range(2006, 2016)]]
    
    avgGDP = gdp_list.mean(axis=1).sort_values(ascending=False)
    return avgGDP

answer_three()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

### Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [26]:
def answer_four():
    Top15 = answer_one()
    _6th = answer_three().index[5]
    gdp_list = Top15[[str(i) for i in range(2006, 2016)]]
    result = gdp_list.loc[_6th]
    return result[-1] - result[0]

answer_four()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')
<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

246702696075.3999

### Question 5
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [28]:
def answer_five():
    Top15 = answer_one()
    return Top15['Energy Supply per Capita'].mean(axis=0)

answer_five()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

157.6

### Question 6
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [29]:
def answer_six():
    Top15 = answer_one()
    max = Top15['% Renewable'].max()
    result = Top15[Top15['% Renewable'] == max]
    return (result.index[0], max)

answer_six()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

('Brazil', 69.64803)

### Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [31]:
def answer_seven():
    Top15 = answer_one()
    total_citations = Top15['Self-citations'].sum()  # Wanye, not a total. .
    Top15['Ratio'] = Top15['Self-citations'] / Top15['Citations']
    max = Top15['Ratio'].max()
    result = Top15[Top15['Ratio'] == max]
    return (result.index[0], max)

answer_seven()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

('China', 0.6912289816173135)

### Question 8

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [30]:
def answer_eight():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15.sort_values(by='Population', ascending=False, inplace=True)
    return Top15.iloc[2].name

answer_eight()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

'United States'

### Question 9
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [32]:
def answer_nine():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    result = Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])
    return result

answer_nine()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

0.7434709127726776

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [2]:
#plot9()

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [33]:
def answer_ten():
    Top15 = answer_one()
    median = Top15['% Renewable'].median()
    Top15['HighRenew'] = (Top15['% Renewable'] >= median) * 1
    return Top15.sort_values('Rank')['HighRenew']

answer_ten()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

Country
China                 1
United States         0
India                 0
Japan                 0
United Kingdom        0
Germany               1
Russian Federation    1
Canada                1
Italy                 1
South Korea           0
France                1
Iran                  0
Spain                 1
Brazil                1
Australia             0
Name: HighRenew, dtype: int64

### Question 11
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [36]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
def answer_eleven():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15_population = Top15['PopEst']
    group = Top15_population.groupby(ContinentDict)

    size = group.size().astype('float64')
    sum = group.sum()
    mean = group.mean()
    std = group.std()
    result = pd.DataFrame({
        'size': size,
        'sum': sum,
        'mean': mean,
        'std': std
    })
    return result

answer_eleven()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

               size           sum          mean           std
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

### Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [37]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

def answer_twelve():
    Top15 = answer_one()
    cut = pd.cut(Top15['% Renewable'], bins=5)
    Top15['bin'] = cut
    group = Top15.groupby(by=[ContinentDict, cut])
#     for name, group in result:
#         print(name)
#         print(group)
    result = group.size()
    return result

answer_twelve()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

               % Renewable
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Australia      (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
               (42.701, 56.174]    0
               (56.174, 69.648]    0
North America  (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
South America  (2.212, 15.753]     0
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
dtype: int64

### Question 13
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [41]:
def answer_thirteen():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['PopEst'] = Top15['PopEst'].map(lambda x: format(x, ',')) # Source: https://blog.csdn.net/dta0502/article/details/82974541
    result = Top15['PopEst']
    return result

answer_thirteen()

<ipython-input-22-23d0024f4ee3>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
<ipython-input-22-23d0024f4ee3>:20: FutureWarning: The default value of regex will change from True to False in a future version.
  energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

Country
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Canada                  35,239,864.86486486
China                 1,367,645,161.2903225
France                  63,837,349.39759036
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
Iran                    77,075,630.25210084
Italy                  59,908,256.880733944
Japan                  127,409,395.97315437
South Korea            49,805,429.864253394
Russian Federation            143,500,000.0
Spain                    46,443,396.2264151
United Kingdom         63,870,967.741935484
United States          317,615,384.61538464
Name: PopEst, dtype: object

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [3]:
#plot_optional()